
/** COPY default-pop-up **/
#overlay {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.default-pop-up{
  z-index: -1;
  color: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;

  .image{
    padding-top: 75%;
    background-size: cover;
    background-position: center;

    .fa{
      position: absolute;
      top: 15px;
      left: 20px;
      color: #cacaca;
      font-size: 1.5rem;

      &:hover{
        cursor: pointer;
        color: $white-color;
      }
    }
  }

  h3{
    color: #ffffff;
    background-color: $primary-color;
    text-align: center;
    padding: 30px 10px;
  }
  p{
    text-align: center;
    padding: 20px 20px 0 20px;
  }
  .checklist{
    padding: 0 20px;
    font-family: $paragraph-font;

    li{
      padding: 5px 0;
      border-top: 1px solid #424242;

      &:last-child{
        border-bottom: 1px solid #424242;
      }
    }

    .fa{
      padding-right: 10px;
      color: $primary-color;
    }
  }

  .row {
    display: flex;
  }
  .col {
    background-color: #333;
  }

  .form-wrapper{
    margin-top: 30px;

    .input-group-addon{
      background-color: $primary-color;
      border: none;
      color: $white-color;
      font-size: 1.2rem;
    }
    .input-group{
      margin-bottom: 5px;
    }
    .btn{
      top: 15px;
      margin-top: 15px;
      margin-bottom: 50px;
      font-family: $paragraph-font;
      background-color: $primary-color;
      color: $white-color;
      font-weight: bold;
      border-bottom: 5px solid darken($primary-color, 10%);
    }
  }
}
@media screen and (max-width: 800px) {
  #overlay, .default-pop-up{
    display: none;
  }
}
/** END COPY default-pop-up **/




/** NOT REQUIRED **/
.scroll-simulation{
  height: 4000px;
}
/** END NOT REQUIRED **/