/**
 * Fonts
 */
/**
 * Color Wheel
 */
/**
 * Default Colors
 */
/**
 * Contrast Colors
 */
/**
 * Border Colors
 */
/**
 * Responsive Image
 * - No content inside, only the image
 * @param $width: width of image [as hardcoded value or percentage]
 * @param $background-size: css background-size for image
 * @param $background-position: css background-position for image
 */
/** Meyer Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background-color: #ffffff;
  overflow-x: hidden; }

.no-border-top {
  border-top: none !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-margin-header {
  margin: 0 !important; }

.gap {
  margin-top: 30px; }

.gap-10 {
  margin-top: 10px; }

.gap-15 {
  margin-top: 15px; }

.gap-20 {
  margin-top: 20px; }

.clear {
  clear: both; }

.divider {
  margin-top: 200px; }

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
    *width: 100%; } }
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%; } }
/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%; } }
h1, h2, h3, h4, h5, h6 {
  font-family: Coolvetica, sans-serif;
  color: #000000; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

p {
  margin-bottom: 20px; }

p, li {
  font-family: ExpressWay, sans-serif;
  line-height: 1.4rem; }

.highlight {
  color: #d90287;
  font-weight: bold; }

.highlight-and-scale {
  font-size: 110%;
  color: #d90287; }

a {
  color: #e9204f;
  font-family: ExpressWay, sans-serif; }
  a:hover {
    text-decoration: none; }

b {
  font-weight: bold; }

.cta-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: none;
  border-bottom: solid 4px #9e1031;
  background: #e9204f; }
  .cta-button:hover {
    cursor: pointer;
    text-decoration: none;
    background: #f51448; }
  .cta-button:active {
    position: relative;
    top: 1px;
    color: #fb0e45; }

.cta-bg-and-border-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #ffffff;
  border: solid 3px #e9204f;
  background: #e9204f; }
  .cta-bg-and-border-button:hover {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background: #f51448; }
  .cta-bg-and-border-button:active {
    position: relative;
    top: 1px;
    color: #fb0e45; }

.cta-button-icon {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: none;
  border-bottom: solid 4px #9e1031;
  background: #e9204f; }
  .cta-button-icon .fa {
    position: relative;
    top: 1px;
    margin-right: 8px; }
  .cta-button-icon:hover {
    cursor: pointer;
    text-decoration: none;
    background: #f51448; }
  .cta-button-icon:active {
    position: relative;
    top: 1px;
    color: #fb0e45; }

.cta-border-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000;
  border: solid 3px #e9204f;
  background: transparent; }
  .cta-border-button:hover {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background: transparent; }
  .cta-border-button:active {
    position: relative;
    top: 1px;
    color: transparent; }

.btn-label .glyphicon {
  position: relative;
  top: 2px;
  padding-right: 8px; }

.btn-icon-only .glyphicon {
  font-size: 1rem;
  padding: 3px 0px; }

.btn-remove-form {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000;
  border: solid 3px #e9204f;
  background: #e9204f; }
  .btn-remove-form:hover {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background: #f51448; }
  .btn-remove-form:active {
    position: relative;
    top: 1px;
    color: #fb0e45; }

.btn-add-form {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000;
  border: solid 3px #e9204f;
  background: #e9204f; }
  .btn-add-form:hover {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background: #f51448; }
  .btn-add-form:active {
    position: relative;
    top: 1px;
    color: #fb0e45; }

.grey-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem ExpressWay, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #000000;
  border: none;
  border-bottom: solid 4px #b7b7b7;
  background: #e5e5e5;
  border-bottom: none;
  padding: 20px 15px; }
  .grey-button:hover {
    cursor: pointer;
    text-decoration: none;
    background: #e8e2e2; }
  .grey-button:active {
    position: relative;
    top: 1px;
    color: #e9e1e1; }

[class^="hvr-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="effect-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e5e5e5;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

label {
  color: #000000;
  font-weight: bold;
  font-family: ExpressWay, sans-serif; }

input {
  font-family: ExpressWay, sans-serif;
  font-size: 1rem !important; }

.has-error {
  font-family: ExpressWay, sans-serif;
  color: red;
  text-align: center; }

.alert {
  font-family: ExpressWay, sans-serif; }

.grid {
  background: #DDD; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer,
.grid-item {
  width: 25%; }

.grid-item {
  float: left;
  -webkit-filter: brightness(100%); }

.grid-item img {
  display: block;
  max-width: 100%; }

.grid-item:hover {
  cursor: pointer;
  -webkit-filter: brightness(30%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#navigation {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 52px;
  margin-top: 20px;
  font-size: 2rem;
  font-family: ExpressWay, sans-serif;
  font-weight: bold;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #000000;
  transition: all 0.6s ease 0s;
  z-index: 9999 !important; }
  #navigation #menu ul .dropdown ul {
    display: none;
    height: auto; }
  #navigation .open > .dropdown-menu {
    display: block !important; }
  #navigation .dropdown-menu {
    top: 99%;
    background-color: #333333; }
    #navigation .dropdown-menu li {
      width: 100%; }
    #navigation .dropdown-menu a {
      display: block !important;
      width: 100% !important; }
  #navigation #logo {
    float: left;
    display: block;
    color: #ffffff;
    width: 100px;
    margin-right: 100px;
    line-height: 55px; }
    #navigation #logo:hover, #navigation #logo:focus {
      text-decoration: none; }
    #navigation #logo span {
      color: #e9204f; }
  #navigation .active {
    background-color: #e9204f;
    color: #ffffff; }
  #navigation #menu {
    float: left;
    display: block;
    width: calc(100% - 200px);
    font-size: 1.2rem;
    position: relative;
    height: 100%; }
    #navigation #menu ul {
      display: block;
      float: left;
      height: 100%; }
      #navigation #menu ul li {
        display: block;
        float: left;
        height: 100%; }
        #navigation #menu ul li a {
          float: left;
          display: block;
          width: 100%;
          height: 100%;
          color: #ffffff;
          border-left: 1px solid #3c3c3c;
          padding: 15px 30px; }
          #navigation #menu ul li a:hover {
            background-color: #e9204f;
            text-decoration: none;
            border-color: #da1643; }
          #navigation #menu ul li a:focus {
            text-decoration: none; }
        #navigation #menu ul li .last {
          border-right: 1px solid #3c3c3c; }
    #navigation #menu #social-media {
      float: right; }
      #navigation #menu #social-media li {
        padding: 10px 15px; }
        #navigation #menu #social-media li .fa {
          position: relative;
          top: 7px;
          font-size: 1.6rem;
          color: #ffffff; }
        #navigation #menu #social-media li a {
          display: inline;
          padding: 0;
          border: 0; }
          #navigation #menu #social-media li a:hover {
            background-color: transparent; }
            #navigation #menu #social-media li a:hover .fa {
              color: #e9204f; }
  #navigation .cta-button {
    background-color: #009e30;
    border-bottom: none !important;
    padding: 10px 20px !important; }
    #navigation .cta-button:hover {
      background-color: #00d13f !important; }

.sticky {
  position: fixed !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border-top: 0 !important;
  border-radius: 0 !important;
  margin-top: 0 !important;
  box-shadow: 0px 3px 2px 0px #000000 !important; }

/** COPY default-pop-up **/
#overlay {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; }

.default-pop-up {
  z-index: -1;
  color: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0; }
  .default-pop-up .image {
    padding-top: 75%;
    background-size: cover;
    background-position: center; }
    .default-pop-up .image .fa {
      position: absolute;
      top: 15px;
      left: 20px;
      color: #cacaca;
      font-size: 1.5rem; }
      .default-pop-up .image .fa:hover {
        cursor: pointer;
        color: #ffffff; }
  .default-pop-up h3 {
    color: #ffffff;
    background-color: #e9204f;
    text-align: center;
    padding: 30px 10px; }
  .default-pop-up p {
    text-align: center;
    padding: 20px 20px 0 20px; }
  .default-pop-up .checklist {
    padding: 0 20px;
    font-family: ExpressWay, sans-serif; }
    .default-pop-up .checklist li {
      padding: 5px 0;
      border-top: 1px solid #424242; }
      .default-pop-up .checklist li:last-child {
        border-bottom: 1px solid #424242; }
    .default-pop-up .checklist .fa {
      padding-right: 10px;
      color: #e9204f; }
  .default-pop-up .row {
    display: flex; }
  .default-pop-up .col {
    background-color: #333; }
  .default-pop-up .form-wrapper {
    margin-top: 30px; }
    .default-pop-up .form-wrapper .input-group-addon {
      background-color: #e9204f;
      border: none;
      color: #ffffff;
      font-size: 1.2rem; }
    .default-pop-up .form-wrapper .input-group {
      margin-bottom: 5px; }
    .default-pop-up .form-wrapper .btn {
      top: 15px;
      margin-top: 15px;
      margin-bottom: 50px;
      font-family: ExpressWay, sans-serif;
      background-color: #e9204f;
      color: #ffffff;
      font-weight: bold;
      border-bottom: 5px solid #c3133c; }

@media screen and (max-width: 800px) {
  #overlay, .default-pop-up {
    display: none; } }
/** END COPY default-pop-up **/
/** NOT REQUIRED **/
.scroll-simulation {
  height: 4000px; }

/** END NOT REQUIRED **/

/*# sourceMappingURL=style.css.map */
