.grid {
  background: #DDD;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 25%;
}
.grid-item {
  float: left;
  -webkit-filter: brightness(100%);
}
.grid-item img {
  display: block;
  max-width: 100%;
}
.grid-item:hover{
  cursor: pointer;
  -webkit-filter: brightness(30%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}