body,html{
  background-color: $white-color;
  overflow-x: hidden;
}
.no-border-top{
  border-top: none !important;
}
.no-padding{
  padding: 0 !important;
}
.no-padding-left{
  padding-left: 0 !important;
}
.no-padding-right{
  padding-right: 0 !important;
}
.no-margin-header{
  margin: 0 !important;
}
.gap{
  @include gap(30px);
}
.gap-10{
  @include gap(10px);
}
.gap-15{
  @include gap(15px);
}
.gap-20{
  @include gap(20px);
}
.clear{
  clear: both;
}
.divider{
  margin-top: 200px;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}