@mixin gap($margin_top) {
  margin-top: $margin_top;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button($background-color, $text-color, $border: false, $icon: false) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem $paragraph-font;
  padding: 7px 15px;
  @include border-radius(3px);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));

  @if $border {
    position: relative;
    top: 2px;
    color: $text-color;
    border: solid 3px $border-cta-button;
    background: $background-color;
    &:hover {
      cursor: pointer;
      color: $white-color;
      text-decoration: none;
      background: saturate($background-color, 10%);
    }
    &:active {
      position: relative;
      top: 1px;
      color: saturate($background-color, 15%);
    }
  } @else {
    @if $icon{
      .fa {
        position: relative;
        top: 1px;
        margin-right: 8px;
      }
    }
    color: $text-color;
    border: none;
    border-bottom: solid 4px darken($background-color, 18%);
    background: $background-color;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      background: saturate($background-color, 10%);
    }
    &:active {
      position: relative;
      top: 1px;
      color: saturate($background-color, 15%);
    }
  }

}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin link($link, $visit, $hover, $active) {
  color: $link;
  text-decoration: none !important;
  &:visited {
    color: $visit;
    text-decoration: none !important;
  }
  &:hover {
    color: $hover;
    text-decoration: none !important;
  }
  &:active {
    color: $active;
    text-decoration: none !important;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin responsive_circle($width, $background-color, $color, $font-size: false) {
  padding:($width / 2) 0;
  background: $background-color;
  @if($font-size){ font-size: $font-size; }
  color: $color;
  font-family: $header-font;
  border-radius:50%;
  text-align:center;
  line-height:0;
}

/**
 * Responsive Image
 * - No content inside, only the image
 * @param $width: width of image [as hardcoded value or percentage]
 * @param $background-size: css background-size for image
 * @param $background-position: css background-position for image
 */
@mixin responsive_image($width, $background-size:'default', $background-position:false) {

  @if($width){
    padding-top: $width;
  }

  @if($background-size == 'cover'){
    background-size: cover;
  } @else if($background-size == 'full') {
    background-size: 100% 100%;
  } @else if($background-size == 'contain') {
    background-size: contain;
  } @else if($background-size == 'default'){
    background-size: auto;
  }

  @if($background-position){
    background-position: $background-position;
  }
}

@mixin header($url: false, $height: false, $image: false, $gap: false, $fixed: false, $box-shadow: false, $background-color: false, $background-position: false) {
  @if($url){
    background-image: url($url);
  }

  @if($image == 'cover'){
    background-size: cover;
  } @else if($image == 'full') {
    background-size: 100% 100%;
  } @else if($image == 'none'){
    // none
  }

  @if $fixed{
    background-attachment: fixed;
  }

  @if $box-shadow{
    box-shadow: $box-shadow;
  }

  @if $background-color{
    background-color: $background-color;
  }

  @if $height{
    height: $height;
  }

  @if $gap{
    padding: $gap;
  }

  @if $background-position{
    background-position: $background-position;
  }
}

@mixin content($gap: false, $background-color: false, $background-image: false, $background-size: false, $background-position: false, $fixed: false){
  @if $gap{
    padding: $gap 0;
  }
  @if $background-color{
    background-color: $background-color;
  }
  @if $background-image{
    background-image: url($background-image);
  }
  @if($background-size == 'cover'){
    background-size: cover;
  } @else if($background-size == 'full') {
    background-size: 100% 100%;
  } @else if($background-size == 'none'){
    // none
  }
  @if($background-position){
    background-position: $background-position;
  }
  @if($fixed){
    background-attachment: fixed;
  }
}