/**
 * Fonts
 */
$header-font: Coolvetica, sans-serif;
$paragraph-font: ExpressWay, sans-serif;

/**
 * Color Wheel
 */
$primary-color: #e9204f;

/**
 * Default Colors
 */
$white-color: #ffffff;
$black-color: #000000;

/**
 * Contrast Colors
 */
$light-grey: #e5e5e5;

/**
 * Border Colors
 */
$border-cta-button: $primary-color;


