.cta-button{
  @include button($primary-color, $white-color, false);
}
.cta-bg-and-border-button{
  @include button($primary-color, $white-color, true);
}
.cta-button-icon{
  @include button($primary-color, $white-color, false, true);
}
.cta-border-button{
  @include button(transparent, $black-color, true);
}
.btn-label .glyphicon{
  position: relative;
  top: 2px;
  padding-right: 8px;
}
.btn-icon-only .glyphicon{
  font-size: 1rem;
  padding: 3px 0px;
}
.btn-remove-form{
  @include button($primary-color, $black-color, true, true);
}
.btn-add-form{
  @include button($primary-color, $black-color, true, true);
}
.grey-button{
  @include button($light-grey, $black-color);
  border-bottom: none;
  padding: 20px 15px;
}


[class^="effect-"] {
  color: grey;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.4em;
  padding: 1.0em;
  cursor: pointer;
  background: $light-grey;
  text-decoration: none;
}