#navigation{
  position: absolute;
  width: 80%;
  left: 10%;
  height: 52px;
  margin-top: 20px;
  font-size: 2rem;
  font-family: $paragraph-font;
  font-weight: bold;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #000000;
  transition: all 0.6s ease 0s;
  z-index: 9999 !important;

  #menu ul .dropdown ul{
    display: none;
    height: auto;
  }

  .open>.dropdown-menu{
    display: block !important;
  }

  .dropdown-menu{
    top: 99%;
    background-color: #333333;

    li{
      width: 100%;
    }
    a{
      display: block !important;
      width: 100% !important;
    }
  }

  #logo{
    float: left;
    display: block;
    color: $white-color;
    width: 100px;
    margin-right: 100px;
    line-height: 55px;

    &:hover, &:focus{
      text-decoration: none;
    }

    span{
      color: $primary-color;
    }
  }
  .active{
    background-color: $primary-color;
    color: $white-color;
  }
  #menu{
    float: left;
    display: block;
    width: calc(100% - 200px);
    font-size: 1.2rem;
    position: relative;
    height: 100%;

    ul{
      display: block;
      float: left;
      height: 100%;

      li{
        display: block;
        float: left;
        height: 100%;

        a{
          float: left;
          display: block;
          width: 100%;
          height: 100%;
          color: $white-color;
          border-left: 1px solid #3c3c3c;
          padding: 15px 30px;

          &:hover{
            background-color: $primary-color;
            text-decoration: none;
            border-color: darken($primary-color, 5%);
          }
          &:focus{
            text-decoration: none;
          }
        }
        .last{
          border-right: 1px solid #3c3c3c;
        }
      }
    }
    #social-media{
      float: right;

      li{
        padding: 10px 15px;
        .fa{
          position: relative;
          top: 7px;
          font-size: 1.6rem;
          color: $white-color;
        }
        a{
          display: inline;
          padding: 0;
          border: 0;

          &:hover{
            .fa{
              color: $primary-color;
            }
            background-color: transparent;
          }
        }
      }
    }
  }
  .cta-button{
    background-color: #009e30;
    border-bottom: none !important;
    padding: 10px 20px !important;

    &:hover{
      background-color: lighten(#009e30, 10%) !important;
    }
  }
}

.sticky {
  position: fixed !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border-top: 0 !important;
  border-radius: 0 !important;
  margin-top: 0 !important;
  box-shadow: 0px 3px 2px 0px #000000 !important;
}